<div class="container">
    <h1>Add Board:</h1>
        {{diagnostic}}
    
    <form *ngIf="active" #boardForm="ngForm">
      <div class="form-group">
        <label for="title">Title*</label>
        <input type="text" class="form-control" [(ngModel)] = "board.title" required ngControl="name" #name="ngForm">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="board.description" >
      </div>
      <button (click) = "addBoard(board)" class="btn btn-default" [disabled]="!boardForm.form.valid">Submit</button>
    </form>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>