
.idea:hover {
    /*color: #607D8B;*/
    background-color: #DDD;
    left: .1em;
}

.idea{
    height: 300px;
    background-color: #e2e4e6;
    box-shadow: 0 3px 6px rgba(0,0,0,.4);
    border-radius: 0 3px 3px 0;
    margin-bottom: 20px;
}

.idea .description{
    padding: 10px;
}

.idea .title{
    padding:  0 10px;
    
    background: rgb(0, 121, 191);
    height: 2em;
    border-radius: 3px 3px 0px 0;
    color: white;
}
